@using WebEShopper.Models
@model WebEShopper.Models.khachHang
@{
    ViewBag.Title = "Index";
    List<khachHang> list = ViewData["dskhachhang"] as List<khachHang>;
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Danh sách đơn hàng mới đặt</h5>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Số điện thoại</th>
                                <th scope="col">Tên khách hàng</th>
                                <th scope="col">Địa chỉ</th>
                                <th scope="col">email</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                @foreach (khachHang i in list)
                                {
                                    <td>@i.maKH</td>
                                    <td>@i.soDT</td>
                                    <td>@i.tenKH</td>
                                    <td>@i.diaChi</td>
                                    <td>@i.email</td>
                                }

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

