@using WebEShopper.Models
@model WebEShopper.Models.sanPham
@{
    ViewBag.Title = "Index";
    List<sanPham> list = ViewData["dssanpham"] as List<sanPham>;
}

<style>
    form{
        display:inline;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Danh sách tất cả sản phẩm</h5>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Mã sản phẩm</th>
                                <th scope="col">Ảnh mình họa</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Mã loại</th>
                                <th scope="col">Giá tiền</th>
                                <th scope="col">Nhóm Lệnh</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (sanPham i in list)
                            {
                                <tr>
                                    <td>@i.maSP</td>
                                    <td>
                                        <img src="@i.hinhDD" alt="..." class="img-thumbnail" style="max-width:100px" />
                                    </td>
                                    <td>@i.tenSP</td>
                                    <td>@i.maLoai</td>
                                    <td>@i.giaBan</td>
                                    <td>
                                        @using (Html.BeginForm("detele", "ListProductActive", FormMethod.Post))
                                        {
                                            <input type="hidden" name="ml" value="@i.maSP" />
                                            <button class="btn btn-danger">Xóa</button>
                                        }
                                        @using (Html.BeginForm("Active", "ListProductActive", FormMethod.Post))
                                        {
                                            <input type="hidden" name="mlvh" value="@i.maSP" />
                                            <button class="btn btn-primary">Vô hiệu</button>
                                        }

                                        @using (Html.BeginForm("index", "ListProduct", FormMethod.Post))
                                        {
                                            <input type="hidden" name="mlcs" value="@i.maSP" />
                                            <button class="btn btn-success ">Sửa</button>
                                        }
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

