@model WebEShopper.Models.baiViet
@{
    ViewBag.Title = "Đăng bài báo";
}

<div class="container-fluid">
    @using (Html.BeginForm("index", "NewArticle", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-8">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin chính</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên bài viết</label>
                            @Html.TextBoxFor(x => x.tenBV, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "Tên bài viết" })
                        </div>
                        <div class="form-group">
                            <label for="ndtt">nội dung tóm tắt</label>
                            @Html.TextAreaFor(x => x.ndTomTat, new { @class = "form-control", @rows = "5", @placeholder = "Nội dung tóm tắt không được quá 100 chữ" })

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Ngày đăng</label>
                                    @Html.TextBoxFor(x => x.ngayDang, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Người đăng</label>
                                    @Html.TextBoxFor(x => x.taiKhoan, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!--Right column-->
            <div class="col-md-4">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Hình minh Họa</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <img class="img-fluid" src="@ViewBag.ddHinh" />
                        <label for="exampleInputFile">File input</label>
                        <div class="input-group">
                            <input name="HinhDaiDien" id="exampleFile" type="file" class="form-control-file">
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- left column -->
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin chính</h3>
                    </div>
                    <div class="mb-3" style="padding:20px">
                        @Html.TextAreaFor(x => x.noiDung, new
                    {
                        @class = "textarea",
                        @placeholder = "Nhập nội dung",
                        @id = "VungSoanThao",
                        @style = "width:100%; height:300px; font-size:14px; line-height:18px;" +
                        " border:1px solid #dddddd; padding:10px"
                    })

                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        
    }
</div>

<script src="https://cdn.tiny.cloud/1/rbryz10wqu7cpapvpqxf5rlekmi7bx5gft601easufsp6wxf/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#VungSoanThao',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
</script>