@model WebEShopper.Models.sanPham
@{
    ViewBag.Title = "Thêm sản phẩm";
}

<div class="container-fluid">
    @using (Html.BeginForm("index", "NewProduct", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Hình minh họa</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div>
                            <img class="img-fluid" src="@ViewBag.ddHinh" />
                        </div>
                        <label for="exampleInputFile">File input</label>
                        <div class="input-group">
                            <input name="HinhDaiDien" id="exampleFile" type="file" class="form-control-file">
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!--Right column-->
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin chính</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tên sản phẩm</label>
                                @Html.TextBoxFor(x => x.tenSP, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "Nhập tên sản phẩm" })
                            </div>

                            <div class="form-group">
                                <label for="ndtt">nội dung tóm tắt</label>
                                @Html.TextAreaFor(x => x.ndTomTat, new { @rows = "5", @class = "form-control", @placeholder = "Nội dung tóm tắt không được quá 100 chữ" })
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Giá bán</label>
                                        @Html.TextBoxFor(x => x.giaBan, new { @type = "text", @class = "form-control", @placeholder = "VND" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>Đơn vị tính</label>
                                        @Html.TextBoxFor(x => x.dvt, new { @type = "text", @class = "form-control", @placeholder = "Nhập đơn vị tính" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Khuyến mãi</label>
                                        @Html.TextBoxFor(x => x.giamGia, new { @class = "form-control", @placeholder = "VD: 10%" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Ngày đăng</label>
                                        @Html.TextBoxFor(x => x.ngayDang, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Người đăng</label>
                                        @Html.TextBoxFor(x => x.taiKhoan, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Loại sản phẩm</label>
                                        @Html.TextBoxFor(x => x.loaiHang, new { @type = "text", @class = "form-control", @placeholder = "Nhập loại sản phẩm" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Mã loại</label>
                                        @Html.TextBoxFor(x => x.maLoai, new { @type = "text", @class = "form-control", @placeholder = "Nhập mã loại (Number)" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->


                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Mô tả sản phẩm</h3>
                    </div>
                    <div class="mb-3" style="padding:20px">
                        @Html.TextAreaFor(x => x.noiDung, new
                        {
                            @class = "textarea",
                            @placeholder = "Nhập nội dung",
                            @id = "VungSoanThao",
                            @style = "width:100%; height:300px; font-size:14px; line-height:18px;" +
                            " border:1px solid #dddddd; padding:10px"
                        })

                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button> 
            </div>
               

        </div>

    }


</div>
<script src="https://cdn.tiny.cloud/1/rbryz10wqu7cpapvpqxf5rlekmi7bx5gft601easufsp6wxf/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#VungSoanThao',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name', 
    });
</script>