@using WebEShopper.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Cart x = ViewData["Cart"] as Cart;

}
<style>
    .cart_product img{
        height:90px;
        width:120px;

    }
    .cart_description h4 a{
        font-size:16px;
    }
</style>

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Ảnh minh họa</td>
                        <td class="description">Sản phẩm</td>
                        <td class="price">Giá tiền</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (ctDonHang i in x.SanPhamDC.Values)
                        {
                            <tr>
                                <td class="cart_product">
                                    <a href=""><img src="@Common.getImageOfProductbyId(i.maSP)" alt=""></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="">@Common.getNameOfProductbyId(i.maSP)</a></h4>
                                    <p>Mã sản phẩm: @i.maSP</p>
                                </td>
                                <td class="cart_price">
                                    <p>@String.Format("{0:#,##0 đ}", i.giaBan)</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        @using (Html.BeginForm("Increase", "Cart", FormMethod.Post))
                                        {
                                            <input type="hidden" name="maSP" value="@i.maSP" />
                                            <button class="cart_quantity_up"> + </button>
                                        }

                                        <input class="cart_quantity_input" type="text" name="quantity" value="@i.soLuong" autocomplete="off" size="2">
                                        @using (Html.BeginForm("Decrease", "Cart", FormMethod.Post))
                                        {
                                            <input type="hidden" name="maSP" value="@i.maSP" />
                                            <button class="cart_quantity_down"> - </button>
                                        }
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@String.Format("{0:#,##0 đ}", x.moneyOfOneItem(i))</p>
                                </td>
                                <td class="cart_delete">
                                    @using (Html.BeginForm("RemoveItem", "Cart", FormMethod.Post))
                                    {
                                        <input type="hidden" name="maSP" value="@i.maSP" />
                                        <button class="cart_quantity_delete"> <i class="fa fa-times"></i> </button>
                                    }
                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3 style="margin-bottom:20px">Bạn muốn làm gì tiếp theo</h3>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="total_area">
                    <ul>
                        <li>Tổng trị giá <span>@String.Format("{0:#,##0 đ}", x.totalOfCart())</span></li>
                        <li>Thuế VAT 5% <span>@String.Format("{0:#,##0 đ}", (x.totalOfCart() * 5) / 100)</span></li>
                        <li>Chi phí vận chuyển<span> Miễn phí</span></li>
                        <li>Tổng thành tiền <span>@String.Format("{0:#,##0 đ}", x.totalOfCart() + (x.totalOfCart() * 5) / 100)</span></li>
                    </ul>
                    <a class="btn btn-default update" href="@Url.Action("index", "Home")">Cập nhật</a>
                    <a class="btn btn-default check_out" href="@Url.Action("index", "Checkout")">Thanh Toán</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->
