@model WebEShopper.Models.khachHang
@using WebEShopper.Models;
@{
    ViewBag.Title = "CheckOut";
    Cart x = ViewData["Cart"] as Cart;
}

<style>
    .cart_product img {
        height: 90px;
        width: 120px;
    }

    .cart_description h4 a {
        font-size: 16px;
    }
</style>
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Check out</li>
            </ol>
        </div><!--/breadcrums-->

        <div class="shopper-informations">
            @using (Html.BeginForm("saveToDataBase", "Checkout", FormMethod.Post))
            {
            <div class="row">
                <div class="col-sm-3">
                    <div class="shopper-info">
                        <p>Thông tin người mua hàng</p>
                        <div class="form-group">
                            <label for="hoTen">Họ tên Khách Hàng</label>
                            @Html.TextBoxFor(m => m.tenKH, new { @class = "form-control", @placeholder = "Tên Khách Hàng" })
                        </div>
                        <div class="form-group" style="margin-bottom:0">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.gioiTinh, new { @name = "gioiTinh" })Nam</label>
                            <label class="radio-inline">@Html.RadioButton("gioiTinh", false)Nữ</label>
                        </div>
                        <div class="form-group">
                            <label for="ngaySinh" style="margin-top:10px">Ngày sinh</label>
                            @Html.TextBoxFor(m => m.ngaySinh, new { @class = "form-control", @type = "date"})
                        </div>
                        <div class="form-group">
                           <a href="@Url.Action("Index" , "Cart")" class="btn btn-default">&lt; Quay lại giỏ hàng</a>
                           <button class="btn btn-success">Thanh Toán</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="bill-to">
                        <p>Thông tin liên lạc</p>
                        <div class="form-one">
                            <div class="form-group">
                                <label for="soDt">Số điện thoại</label>
                                @Html.TextBoxFor(m => m.soDT, new { @class = "form-control", @placeholder = "Your phone number" })
                            </div>
                            <div class="form-group">
                                <label for="mail">Email address</label>
                                @Html.TextBoxFor(m => m.email, new { @class = "form-control", @placeholder = "Email address" })
                            </div>
                            <div class="form-group">
                                <label for="addr">Địa chỉ giao hàng</label>
                                @Html.TextBoxFor(m => m.diaChi, new { @class = "form-control", @placeholder = "Customer address" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="order-message">
                        <p>Ghi chú</p>
                        <div class="form-group">
                            <label for="ghiChu">Thông tin ghi chú</label>
                            @Html.TextAreaFor(m => m.ghiChu, new { @class = "form-control", @placeholder = "Thông tin ghi chú" 
                                                                                                    , @row="8" , @style="padding-bottom: 9px"})
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="review-payment">
            <h2>Xem lại và thanh toán</h2>
        </div>

        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Ảnh minh họa</td>
                        <td class="description">Sản phẩm</td>
                        <td class="price">Giá tiền</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (ctDonHang i in x.SanPhamDC.Values)
                        {
                            <tr>
                                <td class="cart_product">
                                    <a href=""><img src="@Common.getImageOfProductbyId(i.maSP)" alt=""></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="">@Common.getNameOfProductbyId(i.maSP)</a></h4>
                                    <p>Mã sản phẩm: @i.maSP</p>
                                </td>
                                <td class="cart_price">
                                    <p>@String.Format("{0:#,##0 đ}", i.giaBan)</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">                                     
                                        <input class="cart_quantity_input" type="text" name="quantity" value="@i.soLuong" autocomplete="off" size="2">
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@String.Format("{0:#,##0 đ}", x.moneyOfOneItem(i))</p>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2">
                            <table class="table table-condensed total-result">
                                <tr>
                                    <td>Tổng trị giá</td>
                                    <td>@String.Format("{0:#,##0 đ}", x.totalOfCart())</td>
                                </tr>
                                <tr>
                                    <td>Thuế VAT 5%</td>
                                    <td>@String.Format("{0:#,##0 đ}", (x.totalOfCart() * 5) / 100)</td>
                                </tr>
                                <tr class="shipping-cost">
                                    <td>Chi phí vận chuyển</td>
                                    <td>Miễn phí</td>
                                </tr>
                                <tr>
                                    <td>Tổng thành tiền</td>
                                    <td><span>@String.Format("{0:#,##0 đ}", x.totalOfCart() + (x.totalOfCart() * 5) / 100)</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</section> <!--/#cart_items-->
