@using WebEShopper.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        @{
                            foreach (loaiSP i in Common.GetCategories())
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a href="@Url.Action("index", "Product", new { maloai = i.maLoai })">@i.loaiSP1</a></h4>
                                    </div>
                                </div>
                            }
                        }

                    </div><!--/category-products-->


                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well text-center">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="30000000" data-slider-step="50000" data-slider-value="[0,100000]" id="sl2"><br />
                            <b class="pull-left">0 đ</b> <b class="pull-right">30,000,000 đ</b>
                        </div>
                    </div><!--/price-range-->

                </div>
            </div>
            <div class="col-sm-9">
                <div class="blog-post-area">
                    <h2 class="title text-center"> BLOG MỚI NHẤT TỪ CHÚNG TÔI</h2>
                    @{
                        foreach (baiViet k in Common.GetArticles(3))
                        {
                            <div class="single-blog-post">
                                <h3>@k.tenBV</h3>
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="fa fa-user"></i>@k.taiKhoan</li>
                                        <li><i class="fa fa-calendar"></i>@k.ngayDang<li>
                                    </ul>
                                </div>
                                <a href="">
                                    <img src="@k.hinhDD" alt="">
                                </a>
                                <p>@k.ndTomTat</p>
                                <a class="btn btn-primary" href="@Url.Action("Index" , "BlogDetail", new {maBV = k.maBV})">Đọc tiếp</a>
                            </div>
                        }
                    }


                    <div class="pagination-area">
                        <ul class="pagination">
                            <li><a href="" class="active">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
